.background {
  background-image: url("/paper_background.jpeg");
  min-height: 120vh;
  min-width: 120vw;
  position: fixed;
  z-index: -100;
  overflow: hidden;
}

.header {
  background-color: #344DA8;
  height: 2rem;
  z-index: 100;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  width: 100vw;
  top: 0;
}

.bordered {
  transition-duration: 0.25s;
    border-radius: 3px;
  border: 5px solid rgba(0,0,0,1);
  margin: 0.5rem;
  background-color: rgba(256,256,256,.5);
  padding: 0.25rem;
}

.inlineBlog{
  position: relative;
  display: inline;
  width: 100%;
  margin: 0;
}

.bordered:hover {
  transition-delay: 0s;
  transition-duration: 0.25s;
  background-color: rgba(256,256,256,.75); 
  color: black;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  transform: translate(-2px, -4px);
}

.bordered:active {
  transition-delay: 0s;
  background-color: rgba(200,200,200,.75);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.article{
  margin-left: auto;
  margin-right: auto;
  width: 30rem;
  word-break: normal;
  white-space: pre-wrap;
}

.articleText{
  margin-left: auto;
  margin-right: auto;
  width: 29rem;
  word-break: normal;
  white-space: pre-wrap;
}

.blogButton{
  background-color: rgba(256,256,256,0.5);
  border-radius: 3px;
  border: 3px solid rgba(0,0,0,1);
  margin-left: auto;
  margin-right: auto;
  width: 6rem;
  word-break: normal;
  white-space: pre-wrap;
  display: inline-block;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  transition-duration: 0.25s;
}

.blogButton:hover {
  background-color: rgba(256,256,256,0.75);
  transition-duration: 0.25s;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  transform: translate(-2px, -4px);

}

.questionButton{
  background-color: rgba(256,256,256,0.5);
  border-radius: 3px;
  border: 3px solid rgba(0,0,0,1);
  margin-left: auto;
  margin-right: auto;
  width: 15rem;
  word-break: normal;
  white-space: pre-wrap;
  display: inline-block;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  transition-duration: 0.25s;
}

.questionButton:hover {
  background-color: rgba(256,256,256,0.75);
  transition-duration: 0.25s;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  transform: translate(-2px, -4px);

}

.whiteTextBordered {
  font-family: Bubblegum Sans;
  font-style: normal;
  font-weight: normal;
  
  color: black;
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: .08rem;
  -webkit-text-stroke-color: black;

}

.discord {
  width: 10rem;
  transition-duration: 0.25s;
  background-color: rgba(256,256,256,0.5);
  border-radius: 3px;
  border: 3px solid rgba(0,0,0,1);
  word-break: normal;
  white-space: pre-wrap;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  transition-duration: 0.25s;
}

.discord:hover{
  background-color: rgba(256,256,256,0.75);
  transition-duration: 0.25s;
  transform: translate(-2px, -4px);
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.inline {
  display: inline-block;
  margin-right: 1rem;
  margin-left: 1rem;
}

.selectLabel {
  display: inline-block;
  font-size: 1.35rem;
  min-width: 9.5rem;
  text-align: left;
  margin-right: 0rem;
}

.answerBox {
  text-align: left;
  padding: 2px;
  margin-left: 1em;
  margin-top: 0em;
  margin-bottom: 0em;
  line-height: 1.3rem;
}
.answerBox:hover {
  border-radius: 10px;
  border: 2px solid rgba(247, 61, 61, 0.5);
  background-color: rgba(256,256,256,0.25); 
  color: black;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  transform: translate(-1px, -2px);
  transition-duration: 0.4s;
  transition-delay: 0s;
}

.miniWhiteTextBordered {
  font-family: Bubblegum Sans;
  font-style: normal;
  font-weight: normal;
  
  color: black;
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: .05rem;
  -webkit-text-stroke-color: black;
}

.userBox {
  border: 3px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-left: auto;
  margin-right: auto;
  padding: 0em;

}

.listHolder {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.textRight {
  float: right;
  margin-right: 0.5rem;
}

.textLeft {
  float: left;
  margin-left: 0.5rem;
}

.bottom {
  margin-top: 50em;
}

.paddedTopBottom {
  margin-top: 1em;
  margin-bottom: 1em;
}

.paddedLeftRight {
  margin-left: 0.5em;
  margin-right: 0.5em;
}
.noMarginTopBottom {
  margin-top: 0;
  margin-bottom: 0;
}

.inputSize {
  width: 99%;
}

.hidden {
  display: none;
}

.underlined {
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 3px solid #000000;
  word-break: normal;
  white-space: pre-wrap;
  width: 30rem;
}


.infoHover {
  cursor: pointer;
}
.infoHover:hover {
  color: #344DA8;

}

.blackText {
  font-family: Bubblegum Sans;
  font-style: normal;
  font-weight: normal;
  
  color: black;
}

.centered {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}


.menuBox {
  margin-top: 3rem;
  border: 5px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  min-height: 5rem;
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
  
  max-width: 25rem;
}

.primaryButton {
  transition-duration: 0.25s;
  height: 3rem;
  width: 10rem;
  border: 2px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  margin-bottom: 0px;
  padding: 0.1rem;
}

.primaryButton:hover:enabled {
  transition-duration: 0.5s;
  transition-delay: 0s;
  background-color: #FFFFFF; 
  color: black;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  transform: translate(-1px, -2px);
}

.primaryButton:active:enabled {
  transition-delay: 0s;
  background-color: #bfbfbf;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.subTitleComp {
  width: 18rem;
  text-align: center;
  margin: auto;
  margin-block-start: 0.1rem;

  word-break: normal;
  
}

.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer img {
  margin-left: 0.5rem;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  max-width: 800px;
  margin-top: 3rem;
}

.card {
  margin: 1rem;
  flex-basis: 45%;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
